#abc{color: aliceblue;}
p1{font-family: arial;}

.Hi{
    text-align: center;
    color: aliceblue;
    padding: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  